<% if (post.categories && post.categories.length){ %>
  <div class="float-left">
    <%- list_categories(post.categories, {
      show_count: false,
      class: 'tag float-left',
      style: 'none',
      separator: ''
    }) %>
  </div>
<% } %>
