<% if (post.categories && post.categories.length){ %>
  <div class="">
    <%- list_categories(post.categories, {
      show_count: false,
      class: 'badge badge-info badge-pill m-1  nav',
      style: 'none',
      separator: ''
    }) %>
  </div>
<% } %>
