
  <section class="pb-5">
    <%- partial('_partial/post-banner', {post: page}, {cache: !config.relative_link}) %>
  </section>

  <section>
    <div class="<%= theme.classes.container %>">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 pb-5">
          <div class="row">
            <%- partial('_partial/post', {pagination: 2, post: page, index: false}) %>
          </div>
        </div>

      </div>
    </div>
  </section>
