<% if (site.posts.length){ %>
  <div class="text-sencondary" >
    <div class="">
      <h4 class="card-title"><%= __('archive_a') %></h4>
        <%- list_archives({show_count: theme.show_count, type: theme.archive_type, style: theme.archive_style, class: ''}) %>
    </div>
  </div>
<% } %>
