<% if (site.categories.length){ %>
  <div class="card mb-5" >
    <div class="card-body">
      <h5 class="card-title"><%= __('categories') %></h5>
        <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
