
<nav aria-label="...">
  <ul class="pagination">
    <% if (page.prev){ %>
      <li class="page-item">
        <a class="page-link" href="<%- config.root %><%- page.prev_link %>">
          &larr;  Previous
        </a>
      </li>
      <% } %>
      <% if (page.next){ %>
        <li class="page-item">
          <a class="page-link" href="<%- config.root %><%- page.next_link %>">
            Next  &rarr;
          </a>
        </li>
        <% } %>

  </ul>
</nav>
