
  <div class="mb-5" id="search-form-wrap">
    <form class="form-inline my-2 my-lg-0" action="//google.com/search" method="get" accept-charset="UTF-8">
      <%- search_form({button: false, class: "search-form-input form-control-sm w-100 o"}) %>
    </form>
  </div>
  
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>
