.navbar-nav {
  .nav-link {
    position: relative;
    margin-bottom: -3px;
    &::after {
      background-color: $link-hover-color;
      content: '';
      width: 0;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: width .2s ease;
      -moz-transition: width .2s ease;
      -o-transition: width .2s ease;
      transition: width .2s ease;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
  .nav-item {
    &.active {
      .nav-link {
        &::after {
          width: 100%;
        }
      }
    }
  }
}